{% raw %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    {% endblock title %}
  </title>
  {% block add_head %}
  {% endblock add_head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='public/main.css') }}">
</head>

<body>
  {% block main %}
  {% endblock main %}

  {% block javascript %}
  {% endblock javascript %}

  {% include "layout/lucidejs.html" %}
</body>

</html>
{% endraw %}